<section class="row coach-career">
	This is a coach career.
	<a class='btn btn-primary about' href="/meetings/gm"> Meet with GM</a>
	<a class='btn btn-primary about' href="/meetings/player"> Meet with Player</a>
	<a class='btn btn-primary about' href="/schedule/team"> Schedule</a> 
	<a class='btn btn-primary about' href="/game"> Play Next Game</a> 
	<a class='btn btn-primary about' href="/team/roster"> Roster</a> 
	<a class='btn btn-primary about' href="/team/depthchart"> Depth Chart</a> 
	<a class='btn btn-primary about' href="/league/news"> League News</a> 
	<a class='btn btn-primary about' href="/league/leaders"> League Leaders</a> 
</section>