<section class="row main-menu">
	<section class="col-sm-12">
		<h2>Main Menu</h2>
		<a type="submit" class="btn btn-primary new-game" href='/game'>New Game</a>
		<a class='btn btn-primary new-playoffs' href='/playoffs'>New Playoffs</a>
		<a class='btn btn-primary new-player-career' href='/playerCareer'>New Player Career</a>
		<a class='btn btn-primary new-coach-career' href='/coachCareer'>New Coach Career</a>
		<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> About</button> 
	</section>
	Copyright, Trademark, Restricted Benson Clark 2015. Don't fucking steal this. I called it.
</section>
<section class="modal fade" id="about" tabindex="-1" role="dialog">
	<section class="modal-dialog" role="document">
		<section class="modal-content">
			<section class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">About</h4>
			</section>
			<section class="modal-body">
				This is an app you use and baseball is what it is about.
			</section>
			<section class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</section>
		</section>
	</section>
</section>