<section class="row player-career">
	This is a player career.
	<a class='btn btn-primary about' href="/meetings/gm"> Meet with GM</a>
	<a class='btn btn-primary about' href="/meetings/coach"> Meet with Coach</a>
	<a class='btn btn-primary about' href="/meetings/agent"> Meet with Agent</a>
	<a class='btn btn-primary about' href="/schedule/player"> Schedule</a> 
	<a class='btn btn-primary about' href="/game"> Play Next Game</a> 
	<a class='btn btn-primary about' href="/team/roster"> Roster</a> 
	<a class='btn btn-primary about' href="/team/depthchart"> Depth Chart</a> 
	<a class='btn btn-primary about' href="/league/news"> League News</a> 
	<a class='btn btn-primary about' href="/league/leaders"> League Leaders</a> 
</section>