<!-- LEAGUE LEAGUE LEAGUE LEAGUE LEAGUE -->
<section class="row league">
	<section class="col-sm-3">
		<h2>League</h2>
		<button type='submit' class='btn btn-primary create-league'>Create League</button>
		<button type='submit' class='btn btn-primary init-season'>Initialize Season</button>
	</section>
	<section class="col-sm-3 north">
	</section>
	<section class="col-sm-3 south">
	</section>
	<section class="col-sm-3 west">
	</section>
</section>
<section class="row season">
	<section class ="col-sm-3">
		<h2>Season</h2>
		<button type='submit' class='btn btn-primary sim-season'>Sim Season</button>
		<button type='submit' class='btn btn-primary pick-champs'>Pick Champs</button>
		<button type='submit' class='btn btn-primary set-playoffs'>Pick Wildcard</button>
	</section>
</section>
<section class="row playoffs">
	<section class="col-sm-3">
		<h2>Playoffs</h2>
		<button type='submit' class='btn btn-primary sim-playoffs'>Sim Playoffs</button>
	</section>
	<section class="playoffs-table">
	</section>
</section>
<!-- GAME GAME GAME GAME GAME -->
<section class="row game">
	<section class="col-sm-2">
		<h2>Game</h2>
		<button type="submit" class="btn btn-primary play-ball">Play ball!</button>
		<button type='submit' class='btn btn-primary play-game'>Play game</button>
		<button type='submit' class='btn btn-primary play-inning'>Play inning</button>
		<button type='submit' class='btn btn-primary batter-up'>Batter up!</button>
	</section>
	<section class="col-sm-4">
		<section class="box-score">
		</section>
		<section class="now-pitching">
		</section>
		<section class="now-batting">
		</section>
		<section class="bso">
		</section>
		<section class="line-score">
			<section class="away-line-score">
			</section>
			<section class="home-line-score">
			</section>
		</section>
	</section>
	<section class="col-sm-3 boston-lineup">
	</section>
	<section class="col-sm-3 losangeles-lineup">
	</section>			
</section>