<section class="row coach-career">
	This is a coach career.
	<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> Meet with GM</button>
	<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> Meet with Player</button>
	<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> Schedule</button> 
	<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> Play Next Game</button> 
	<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> Roster</button> 
	<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> Depth Chart</button> 
	<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> League News</button> 
	<button type='submit' class='btn btn-primary about' data-toggle="modal" data-target="#about"> League Leaders</button> 
</section>