<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	<section><h1>Welcome to HeyBatter!</h1></section>

	<main class="container-fluid" role="tabpanel">

		<div class="row">
			<div class="col-sm-4">
					<form id="hey-batter-batter">
						<div class="form-group">
							<label for="batting-average">Batting Average</label>
							<input type="text" class="form-control" id="batting-average" placeholder=".300">
						</div>

						<div class="form-group">
							<label for="strike-percentage">Strike Percentage</label>
							<input type="text" class="form-control" id="strike-percentage" placeholder=".600">
						</div>

						<button type="submit" class="btn btn-primary">Step Up To The Plate</button>
					</form>
			</div>

			<div class="col-sm-8">
			
				<ul class="list-unstyled" id="outcomes">
				</ul>
			</div>
		</div>
	</main>

</body>

</html>