<section class="row team">
	<section class="col-sm-2">
		<h2>Team</h2>
		<button type="submit" class="btn btn-primary generate-team">Generate Team</button>
		<button type="submit" class="btn btn-primary propose-trade">Propose Trade</button>
		<button type="submit" class="btn btn-primary routing-button">ROUTING</button>
	</section>
	<section class="col-sm-10">
		<ul id="sortable">
		  <li>Item 1</li>
		  <li>Item 2</li>
		  <li>Item 3</li>
		  <li>Item 4</li>
		  <li>Item 5</li>
		</ul>
	</section>
</section>