<section class="row game">
	<section class="col-sm-2">
		<h2>Game</h2>
		<button type="submit" class="btn btn-primary play-ball">Play ball!</button>
		<button type='submit' class='btn btn-primary batter-up'>Batter up!</button>
		<button type='submit' class='btn btn-primary pitch'>Pitch</button>
	</section>
	<section class="col-sm-4">
		<section class="box-score">
		</section>
		<section class="now-pitching">
		</section>
		<section class="now-batting">
		</section>
		<section class="bso">
		</section>
	</section>
	<section class="col-sm-3 boston-lineup">
	</section>
	<section class="col-sm-3 losangeles-lineup">
	</section>			
</section>
<section class="row commentary-container">
	<section class="col-sm-12">
		<h2>Commentary</h2>
		<section class="commentary">
		</section>
	</section>
</section>